.thumbnail-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
}

.thumbnail-component div {
    background-color: #B9A28D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.thumbnail-component img {
    height: 106px;
    width: 106px;
}

.thumbnail-component:hover img {
    transform: scale(1.2);
}

.thumbnail-component p {
    color: blueviolet;
    text-align: center;
}